.steps__field{
    background-color: #cbefc4;
    width: 20%;
    position: absolute;
    height: 100vh;
    right: 0;
    border-left: 1px solid #d5d2d0;
    display: flex;
flex-direction: column;
justify-content: start;
}
.steps__field-title{
    height: 10%;
    border-bottom: 1px solid #d5d2d0;
}
.steps__field-context{
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.steps__field-context-item{
    width: 70px;
    height: 35px;
    border: 1px solid yellow;
    border-radius: 50px;
    background-color: aqua;
    margin: 5px;
    text-align: center;
}
.steps__field-audio_settings{
    height: 20%;
    border-top: 1px solid #d5d2d0;
}