@media screen and (max-width: 768px)  {
    .steps__field{
        display:none;
    }
}

@media screen and (min-width: 768px)  {
    .steps__field{
        background-color: #7FE09F;
        width: 20%;
        position: absolute;
        height: 100vh;
        right: 0;
        border-left: 1px solid #2A9C50;
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    }
}

.steps__field-context{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: scroll;
    padding: 10%;
}

.steps__field-context-item{
    width: 70px;
    height: 70%;
    border: 1px solid yellow;
    border-radius: 50px;
    background-color: aqua;
    margin: 5px;
    text-align: center;
}

.steps__field-sounds_settings{
    display: flex;
justify-content: center;
flex-direction: column;
    height: 20%;
    padding: 10px 10px;
    border-top: 1px solid #2A9C50;
}
.steps__field-context-icon{
    font-size: 50px;
}