.letterSolver__wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    background-color: #d7f4cf;
}


.letterSolver__header{
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 10px 100px;
}

.letterSolver__main{
   
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center;
}
.letterSolver__start_game{
    border: 4px solid blueviolet;
    border-radius: 5px;
    padding: 20px;
}

.letterSolver__wrapper-start_game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}